
     <h1>Movie Details</h1>
    <div  ng-controller="movieInfo" class="movie-container">
       
       
       <!-- {{movie}} -->
      
      
        <img  ng-src="{{movie.images.REGULAR.url}"/>
        <div class="info-class">
            <!-- {{movie}} -->
            <div class="details"> Title :  {{ movie.label }}</div>
            <div class="details"> Cuisine : {{ movie.cuisineType }}</div>
            <div class="details"> Diet: {{ movie.dietLabels }}</div>
            <div class="details"> Ingredients :  {{ movie.dishType.ingredientLines }}</div>
            <div class="details"> {{ movie.dishType.ingredientLines }}</div>
            <div class="details"> {{ movie.source }}</div>
            <div class="details">   {{ movie.totalTime }}</div>
            <div class="details">   {{ movie.totalWeight }}</div>
            <div class="details"> {{ movie.shareAs }}</div>
            <!-- <div class="details">Director :  {{ movie.Director }}</div>
            <div class="details">Writer :  {{ movie.Writer }}</div>
             <div class="details">Plot : {{ movie.Plot }}</div>
            <div class="details">Language :  {{ movie.Language }}</div> -->
            <!-- <div class="score">
                <div class="score-card">
                    Metascore :  <div class="details"> {{ movie.Metascore }}</div>
                   
                </div>
                <div class="score-card">imdbRating :  <div class="details"> {{ movie.imdbRating }}</div></div>
                <div class="score-card"> imdbVotes :  <div class="details"> {{ movie.imdbVotes }}</div></div> -->

                
               

            </div>
            
        </div>
           
    </div>
