<section class="main-body" ng-controller="movieFetch">
    <div class="nav-bar" >
        <input type="text" ng-model="name" placeholder="type the name of the movie to search " ng-change="lazyLoad()">{{ name }}

    </div>
    <div class="movies">
        <div class="movie-card" ng-repeat="movie in movies | filter:name ">
   
        
       
            <img class='image' ng-src="{{movie.recipe.image}}" ng-click="movieInfo(movie)" loading="lazy"/>
        
            <div class="details"> {{ movie.recipe.label }}</div>
            <div class="details"> {{ movie.recipe.mealType[0]}}</div>
            <div class="details"> {{ movie.recipe.dishType[0] }}</div>
            <!-- <div class="details"> {{ movie.Plot }}</div> -->
        

   </div>
    

    </div>
   
</section>